.card-size {
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  transition: transform 0.2s;
}
.card-hover:hover {
  background-color: rgba(0, 0, 0, 0.11);
  transform: scale(1.02);
}
